body {
    background-color: lightgray;
}

* {
    margin: 0;
    padding: 0;
}

a:link,
a:visited {
    text-decoration: none;
    color: #333;
}

ul {
    list-style: none;
}

.wrap {
    width: 480px;
    margin: auto;
    background-color: white;
    margin-top: 40px;
    position: relative;
}

.wrap header {
    border-bottom: 3px solid rgb(233, 240, 251);
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    width: 20px;
}

header img {
    width: 90%;
}

header h2 {
    color: rgb(121, 186, 207);
    display: flex;
    flex-direction: column;
    align-items: center;
}
header .date{
    display: flex;
}
header #datepicker{ 
    text-align: center;
    outline: 0;
    border: 0;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    color: #b4b4b4;
    margin-top: 8px;
}

main {
    width: 100%;
    height: 700px;
    overflow: scroll;
}

/* 스크롤바 없애기*/
main::-webkit-scrollbar {
  display: none;
}

main .list_wrap {
    border-bottom: 3px solid rgb(233, 240, 251);
}

main li {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 16px 20px;
    box-sizing: border-box;
}

.list_wrap .remove {
    cursor: pointer;
}

main p:first-child {
    width: 20px;
    height: 20px;
    border: 2px solid rgb(210, 225, 250);
    border-radius: 2px;
    cursor: pointer;
}

.ck.cked {
    background-color: rgb(181 181 181);
    border: 1px solid rgb(181 181 181);
}

main p:nth-child(2) {
    width: 83%;
    margin-left: 40px;
}

main p:nth-child(3) {
    width: 5%;
}

main img {
    width: 16px;
}

main input {
    border: 0;
    outline: 0;
    font-size: 18px;
    color: rgb(152, 181, 215);
    font-weight: bold;
}

.alert {
    color: red;
    font-size: 12px;
}

.input_color {
    color: rgb(181 181 181);
    text-decoration: line-through;
}

footer {
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

footer p:nth-child(1) {
    color: rgb(84, 84, 84);
}

footer .add {
    color: rgb(121, 186, 207);
    cursor: pointer;
}

.card{
    position: absolute;
    top: 240px;
    width: 100%;
    transition: all .4s;
    z-index: 10;
}

.card_ani{
    animation: ani 2s alternate forwards ;
}

@keyframes ani{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


.fade-out {
  animation: ani_close 2s forwards alternate;
}


@keyframes ani_close{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}


